.static_position{
    position:static;
    border: 5px solid rgb(153, 110, 153);
}
.relative_position{
    border: 5px solid pink;
    left: 30px;
    position: relative;
}
.relative_position_2{border: 5px solid skyblue;
position: relative;
width: 200px;
height: 400px;
left: 100px;}
.absolute_position_2 {border: 5px solid red;
position: absolute;
width: 200px;
height: 300px;}